/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body{
    margin: 0;
    font-family: "Rubik" , "Arial" , sans-serif;
    font-weight: 400;
   
}
.hidden{
    overflow: hidden;
}

.container{
    width: 1240px;
    margin-right: auto;
    margin-left: auto;

    padding-right: 20px;
    padding-left: 20px;
}

/* .site-header {
} */
.header-bg {
    background-color: #f6f6f6;
}

.header-box{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

    padding-top: 30px;
    padding-bottom: 30px;

}

.header-logobox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.header-logobox-logo {
    margin-right: 35px;
}
/* .site-logo-img {
} */

.headerbox-logobox-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;

    margin-top: 0px;
    margin-bottom: 0px;
}

.headerbox-logobox-item {
    margin-right: 25px;
}

.headerbox-logobox-currency {
    font-size: 16px;
    line-height: 19px;
    color: #555555;
}

.headerbox-logobox-currency-icon {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #2959ce;
}

.header-searchbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.search-box{
    margin-right: 25px;
}
.search-input{
    width: 275px;
    height: 45px;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    list-style: none;
    padding-left: 41px;
    background: #fff;
    border: none;
    border-radius: 60px;
    background-image: url("../images/search.svg");
    background-repeat: no-repeat;
    background-position: 15px center;
}

/* .header-search {
    display: flex;
    align-items: center;
    margin-right: 25px;

    padding-top: 15px;
    padding-right: 192px;
    padding-bottom: 13px;
    padding-left: 15px;

    background: #fff;
    border-radius: 60px;
}
.header-search::before{
    width: 20px;
    height: 20px;
    margin-right: 6px;
    flex-shrink: 0;
    background-image: url("../images/search.svg");
    background-repeat: no-repeat;
    background-position: center;
    content: "";
}

.header-search-text {
    font-size: 14px;
    line-height: 17px;

    margin-top: 0px;
    margin-bottom: 0px;

    color: #8d8d8d;
} */

.header-language {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    margin-right: 25px;

    padding-top: 3px;
    padding-right: 13px;
    padding-bottom: 3px;
    padding-left: 3px;

    background: #dce6ff;
    border-radius: 39px;
}

.header-landuage-active{
    margin-right: 8px;
    
    padding-top: 7px;
    padding-right: 7px;
    padding-bottom: 7px;
    padding-left: 7px;

    background-color: #fff;
    border-radius: 50%;
}

.header-language-uz {
    font-size: 13px;
    line-height: 12px;

    text-decoration: none;
    color: #000000;
}

.header-language-ru {
    font-size: 13px;
    line-height: 15px;

    text-decoration: none;
    color: #a6a6a6;
}
.header-singin {
    padding-top: 13px;
    padding-right: 20px;
    padding-bottom: 13px;
    padding-left: 20px;

    background-color: #7296ec;
    border-radius: 10px;
}

.header-searchbox-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

    text-decoration: none;
    color: #fff;
}

/* .header-nav {
    margin-top: 0px;
    margin-bottom: 0px;
} */

.header-nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    list-style: none;

    margin-top: 0px;
    margin-bottom: 0px;

    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 0px;
    border-bottom: 1px solid #d1d1d1;
}

/* .headen-nav-item {
} */
.headen-nav-item-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    
    text-decoration: none;
    color: #7F7F7F;
}

/* .site-main {
} */

/* .main-add {
} */

.main-advertising {
    margin-top: 40px;
    margin-bottom: 50px;
}

/* .main-add-link {
} */
.main-add-img {
    width: 1200px;
    height: 128px;
}

/* .main-news {
} */

.main-news-box {
    margin-bottom: 60px;
}

.main-news-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* justify-content: flex-start; */
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;

    margin-top: 0px;
    margin-bottom: 0px;

    padding-left: 0px;
}

.main-news-item {
    margin-right: 10px;
    margin-bottom: 10px;

    padding-top: 20px;
    padding-right: 17px;
    padding-bottom: 15px;
    padding-left: 13px;

    list-style: none;
    background-color: #f6f6f6;
    border-radius: 15px;
}

/* .main-news-itembox {
} */

.main-news-themebox {
    margin-bottom: 10px;
}

.main-news-theme {
    margin-top: 0px;
    margin-bottom: 0px;
}

.main-news-theme-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;

    text-decoration: none;
    color: #000000
}
.main-news-text {
    font-size: 16px;
    line-height: 22px;

    margin-top: 0px;
    margin-bottom: 15px;
    color: #4a4b4c;
}

.main-news-image {
    margin-bottom: 15px;
}

.main-news-descriptionbox{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.main-news-descriptionbox::before{
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-position: center;
    content: "";
}
.img-KB::before{
    background-image: url("../images/KB.png  ");
}
.img-G::before{
    background-image: url("../images/G.png  ");
}
.img-X::before{
    background-image: url("../images/X.png  ");
}
.img-D::before{
    background-image: url("../images/D.png  ");
}
.img-L::before{
    background-image: url("../images/L.png  ");
}
.img-T::before{
    background-image: url("../images/T.png  ");
}
.open{
    border: none;
    cursor: pointer;
}

.main-news-description {
    font-size: 12px;
    line-height: 14px;

    margin-top: 0px;
    margin-bottom: 0px;
    color: #5E5F61;
}

.main-news-description-logo {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

/* .main-news-box-description-time {
} */

/* .main-news-description-time {
} */

/* .main-news-list-item {
} */

/* .main-article {
    
} */
.main-article-bg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 1005px;

    margin-right: auto;
    margin-bottom: 60px;
    margin-left: auto;
    padding-right: 71px;
    padding-left: 29px;
    
    border-radius: 15px;
    background-image: url("../images/Article-bg.svg");
}

.main-article-box {
    
    margin-top: 24px;
    margin-bottom: 24px;
    padding-left: 0px;
    
}

.main-article-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #000000;
}

.main-article-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;

    margin-top: 25px;
    margin-bottom: 25px;
    
    padding-top: 13px;
    padding-right: 30px;
    padding-bottom: 13px;
    padding-left: 30px;

    text-decoration: none;
    background: #F78B3B;
    border-radius: 10px;
    color: #FFFFFF;
}

/* .news-world {
} */

.news-world-newsbox
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 100px;
}

.news-world-text {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    
    margin-top: 0px;
    margin-bottom: 20px;

    color: #000000;
}

.news-world-box {
    margin-right: 10px;
}

/* .news-world-news {
} */

.news-world-news-list {
    list-style: none;
    margin-top: 0px;
    padding-left: 0px;
}

.news-world-news-item {
    width: 797px;
    margin-bottom: 10px;
    background: #f6f6f6;
    border-radius: 15px;
}

.news-world-news-itembox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 17px;
}

/* .news-world-news-imgbox {
} */

/* .news-world-news-imgbox-image {
} */

.news-world-news-list-textbox {
    margin-left: 15px;
}

.news-world-news-list-textbox-themebox {
    margin-bottom: 10px;
}

.news-world-news-list-textbox-themebox-theme {
    margin-top: 0px;
    margin-bottom: 0px;
}

.news-world-news-list-textbox-themebox-link {
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: #000000;
}

.news-world-news-list-textbox-content {
    font-size: 16px;
    line-height: 22px;

    margin-top: 0px;
    margin-bottom: 17px;

    color: #4A4B4C;
}

.news-world-news-list-textbox-descriptionbox{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.news-world-news-list-textbox-descriptionbox::before{
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-position: center;
    /* background-size: cover; */
    content: "";
}
.img-TACC::before{
    background-image: url("../images/TACC.png");
}
.img-RBK::before{
    background-image: url("../images/RBK.png");
}
.img-S::before{
    background-image: url("../images/S.png");
}
.img-PN::before{
    background-image: url("../images/PN.png");
}
.img-DNC::before{
    background-image: url("../images/DNC.png");
}
.img-SU::before{
    background-image: url("../images/SU.png");
}
.img-iR::before{
    background-image: url("../images/iR.png");
}
.img-KO::before{
    background-image: url("../images/KO.png");
}
.img-Fe::before{
    background-image: url("../images/Fe.png");
}

.news-world-news-list-textbox-description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 12px;
    line-height: 14px;
    
    margin-top: 0px;
    margin-bottom: 0px;

    color: #5E5F61;
}

.news-world-news-list-textbox-description-logo {
    margin-right: 10px;
}

/* .news-world-news-list-textbox-description-time {
} */

.news-world-news-linkbox{
    padding-top: 17px;
    padding-right: 343px;
    padding-bottom: 17px;
    padding-left: 343px;
    background: #eaeaea;
    border-radius: 10px;
}

.news-world-news-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;

    color: #000000;
}

/* .news-world-other {
} */

.news-world-other-box {
    margin-bottom: 10px;
    padding-top: 20px;
    padding-right: 17px;
    padding-bottom: 25px;
    padding-left: 17px;

    background: #f6f6f6;
    border-radius: 15px;
}

.news-world-other-text {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;

    margin-top: 0px;
    margin-bottom: 25px;

    color: #000000;
}

.news-world-other-list {
    list-style: none;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;

}

.news-world-other-item {
    margin-bottom: 20px;
    border-bottom: 1px solid #d2d2d2;
}

.news-world-other-theme {
    margin-top: 0px;
    margin-bottom: 8px;
}

.news-world-other-theme-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    
    text-decoration: none;
    
    color: #000000;
}

.news-world-other-description {
    font-size: 13px;
    line-height: 15px;

    margin-top: 0px;
    margin-bottom: 20px;
    
    color: #5E5F61;
}

.last{
    margin-bottom: 0px;
    border-bottom: none;
}

/* .news-world-other-description-time {
} */

/* .news-world-other-add {
} */

/* .news-world-other-advertising {
} */

/* .news-world-other-advertising-img {
} */

/* ----------------------------------------------------------- */
.box-for-post{
    margin-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 60px;
}

.post-box {
    width: 797px;
    margin-right: 10px;
    padding-bottom: 26px;
    border-bottom: 1px solid #d2d2d2;
}

.post-text {
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 26px;
    line-height: 36px;

    color: #000000;
}

.post-image-box{
    width: 797px;
    height: 300px;
    margin-bottom: 25px;
    border-radius: 13px;
    background-image: url("../images/Rectangle91.jpg");
    background-repeat: no-repeat;
    background-size: 797px 300px;
    /* background-position: calc(50%) calc(50% - 420px); */
}

.post-description {
    margin-bottom: 24px;
    font-size: 20px;
    line-height: 30px;  
    
    color: #000000;
}

.according-to-your-interests{
    margin-bottom: 100px;
}

.text-according-to-your-interests{
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    
    color: #000000;
}

.according-to-your-interests-text{
    margin-bottom: 20px;
}

/* ------------------------------------------------------ */


.site-write-to-us {
    padding-top: 60px;
    padding-bottom: 100px;
    background-color: #eee;
}

.site-write-to-us-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.site-write-to-us-infobox {
    width: 696px;
    margin-right: 10px;
}

.site-text-write-to-us {
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    
    color: #000000;
}

/* .box-site-write-to-us{
} */

.site-write-to-us-text-input {
    width: 343px;
    margin-right: 6px;
    margin-bottom: 10px;
    padding-top: 18px;
    padding-right: 20px;
    padding-bottom: 18px;
    padding-left: 20px;
    background: #fff;
    border: 1px solid #00000033;
    border-radius: 10px;
}


.site-write-to-us-phone-input {
    width: 343px;
    margin-bottom: 10px;
    padding-top: 18px;
    padding-right: 20px;
    padding-bottom: 18px;
    padding-left: 20px;
    background: #fff;
    border: 1px solid #00000033;
    border-radius: 10px;
}

.site-write-to-us-email-input {
    width: 696px;
    margin-bottom: 10px;
    padding-top: 18px;
    padding-right: 20px;
    padding-bottom: 18px;
    padding-left: 20px;
    background: #fff;
    border: 1px solid #00000033;
    border-radius: 10px;
}

.site-write-to-us-comment-input {
    width: 696px;
    height: 180px;
    margin-bottom: 20px;
    padding-top: 18px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 18px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    resize: none;
}

.site-write-to-us-buttonbox{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
}

.site-write-to-us-button{
    padding: 17px 30px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
        
    color: #fff;
    background: #7297ef;
    border-radius: 10px;
    border: none;
}

.our_addresses-list {
    width: 494px;
    margin-top: 48px;
    margin-bottom: 0;
    /* padding: 40px 25px; */
    padding-top: 20px;
    padding-right: 25px;
    padding-bottom: 20px;
    padding-left: 25px;
    list-style: none;
    background: #f6f6f6;
    border-radius: 10px;
}

.our_addresses-item {
    border-bottom: 1px solid #d2d2d2;
    padding-bottom: 20px;
}

.last-our_addresses-item{
    border-bottom: none;
}

.our_addresses-text {
    margin-top: 20px;
    margin-bottom: 7px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;

    color: #000000;
}

.our_addresses-description{
    margin-top: 0;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;

    color: #000000;
    
}

.our_addresses-adressbox {
    font-style: normal;
}

/* ------------------------------------------------------- */

/* .site-footer {
} */
.footer-bg {
    background-color: #7297ef;
    /* padding-top: 40px; */
    padding-bottom: 40px;
}

.footer-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 1px solid #fff;
}

.footer-top-logobox {
    margin-top: 40px;
    margin-right: 168px;
}

/* .footer-top-boxlogo-link {
} */

/* .footer-top-boxlogo-logo {
} */

.footer-top-boxlogo-text {
    font-size: 12px;
    line-height: 19px;

    margin-top: 15px;
    margin-bottom: 71px;
    
    color: #fff;
}

.footer-top-infobox {
    margin-top: 83px;
    margin-right: 100px;
}

.footer-top-infobox-list {
    list-style: none;
    margin-top: 0;
    margin-bottom: auto;
    padding-left: 0px;
}

.footer-top-infobox-item {
    margin-bottom: 20px;
}

.footer-top-infobox-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

    text-decoration: none;
    
    color: #FFFFFF;
    
}   

.footer-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 20px;
}

.footer-bottom-text {

    font-weight: 500;
    font-size: 18px;
    line-height: 23px;

    margin-top: 0px;
    margin-bottom: 0px;
    
    color: #FFFFFF;
}

.footer-bottom-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
}

.footer-bottom-item {
    margin-left: 25px;
}
.modal{
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background-color: #00000066; 
    
    
}
.modal-window{
    position: relative;
    width: 850px;
    padding: 50px;
    /* margin-top: 300px; */
    margin-right: auto;
    margin-left: auto;
    background-color: #fff;
    border-radius: 5px;
    text-align: center;

    animation-name: animation;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
@keyframes animation {
0%{
    top:-500px;
}
50%{

}
100%{
    top:250px
}
    
} 



.modal-btn{
    border: none;
}
.modal-text{
    width: 495px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;

}
.remove{
    position: absolute;
    top: 25px;
    right: 25px;
    cursor: pointer;
    background-image: url("../images/delete.svg");
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    background-color: #fff;
    width: 13px;
    height: 13px;
}
.close-btn{
    display: block;
}


/* .footer-bottom-link {
} */

/* .footer-bottom-link-logo {
} */